.login-wapper{
    background-color: white;
    height: 400px;
    width: 400px;
    border: solid 1px black;
    border-radius: 20px;
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    .login-header {
        text-align: center;
    }
    .login-form {
        position: relative;
        .input-element{
            display: flex;
            flex-direction: column;
            padding: 10px 20px;
            label {
                font-weight:600;
            }
            input {
                border-radius: 10px;
                height: 30px;
                margin-top: 10px;
            }
            .visible-button {
                font-size: 25px;
                position: absolute;
                right: 2rem;
                bottom: 1rem;
                cursor: pointer;
            }
        }
    }
    .login-option{
        display: flex;
        justify-content: space-around;
    }
    .submit{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        button {
            background-color: rgb(37 99 235);
            padding: 10px 25px;
            color: white;
            font-size: 15px;
            border-radius: 15px;
            width: 90%;
            margin-top: 15px;
        }
    }
}